body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    width: 99vw;
    max-height: 100vh;
    padding: 1vw;
    box-sizing: border-box;
}

.container > .panel {
    width: 15vw;
    padding: 1vw;
    height: 96vh;
    float: left;
    margin-right: 3vw;
    box-sizing: border-box;
    background: #EEEEEE;
    border: 0.2vw solid #CCC;
    border-radius: 1.5vw;
}

.container > .panel > .p1 {
    float: left;
    line-height: 2.2vw;
}

.container > .panel > .p2 {
    float: left;
    margin: 1.4vw;
}

.container > .game {
    float: left;
    max-width: 75vw;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    height: 97vh;
}

.container > .game > .row {
    width: 100%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container > .game > .row > .cell {
    width: 1.8vw;
    height: 1.8vw;
    background-color: #AAA;
    margin: .2vw;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.3vw;
}